:root {
  --primary-color-100: #333333;
  --primary-color-200: #4d4d4d;
  --primary-color-300: #666666;
  --primary-color-400: #808080;
  --primary-color-500: #000000;
  --primary-color-600: #000000;
  --primary-color-700: #000000;

  --secondary-color-100: #ffe6b3;
  --secondary-color-200: #ffdb4d;
  --secondary-color-300: #ffd600;
  --secondary-color-400: #ffcc00;
  --secondary-color-500: #ffcc00;
  --secondary-color-600: #e6b800;
  --secondary-color-700: #cc9c00;

  --danger-color-100: #fdecea;
  --danger-color-200: #f9c1be;
  --danger-color-300: #f49792;
  --danger-color-400: #f06d66;
  --danger-color-500: #e53935;
  --danger-color-600: #b82c2a;
  --danger-color-700: #8a2220;
}

$sm-mobile-breakpoint: 490px;
$md-mobile-breakpoint: 623px;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 992px;

.v-icon {
  color: var(--primary-color-500);
}

.v-btn {
    color: var(--primary-color-500);
}

.v-row {
  margin: 0 !important;
}

.v-col {
  padding: 0 !important;
}

.bg-primary {
  background-color: var(--primary-color-500) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
